# Archivos temporales
*.log
*.tmp
*.bak
*.swp
*.cache

# Archivos de entorno local
.env
.phpunit.result.cache
vendor/
node_modules/

# Archivos de IDE (Visual Studio Code, PHPStorm)
.vscode/
.idea/

# Archivos de configuración local (no necesarios en el repo)
xampp-control.ini
mysql/
apache/
